<body class="container">
<div>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="#contact">Contact</a></li>
       <li><a href="#about">About</a></li>
       <li><a class="active" href="#home">Home</a></li>
       <li style="float: left;"><a href="/">Lemon Companies</a></li>
 </ul>
 <div class="home_div">
  <h1>Lemon Technologies</h1>
  <h3 style="padding-right:100px;">Get food to your destination?</h3>
  <h3 style="padding-right:150px;">Then why late?</h3>
  <h3 style="padding-right:160px;">Signup now!!!</h3>
  <a href="/signup"><button>Get Started</button></a>
  </div>
</div>
</body>
