<body class="container">
    <div>
        <ul>
            <li class="non"><a href="/login">Login</a></li>
            <li class="non"><a href="/signup">Signup</a></li>
            <li class="non"><a href="#contact">Contact</a></li>
           <li class="non"><a href="#about">About</a></li>
           <li class="non"><a class="active" href="#home">Home</a></li>
           <li style="float: left;"><a href="/">Lemon Companies</a></li>
     </ul>
    </div>
    <div class="login_div">
        <div></div>
        <div></div>
        <div class="login">
        <u><h1>Login</h1></u>
        <h3>Email Id:</h3>
        <input type="text" placeholder="Enter your email id" #emailid/>
        <h3>Password:</h3>
        <input type="password" placeholder="Enter your password" #password/><br>
        <button (click)="login(emailid,password)">Login</button>
        <p *ngIf="!check">Invalid Password or email id</p>
        </div>
    </div>
</body>
    
