.navbar{
    top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 224, 27);
  }
.rig{
    float: right;
}
.home{
    float: left;
}
li a:hover{
    color:orange;
}
li a {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
}
table {
  margin-left:400px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border:0px 0px 0px 0px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:30px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  tr:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
    padding-top:10px;
    text-align: center;
  }
  h2{
      padding-left:400px;
  }
  .container{
      background-color:rgb(185, 255, 214);
      padding-top: 0px;
      padding-bottom:90px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container .book{
    background-color:rgb(230, 174, 22);
      margin-top:30px;
      float: right;
      margin-right: 370px;
      width:90px;
  }
  .container input{
    width:70%;
  }
  /* .container button{
    background-color:rgb(230, 174, 22);
  } */
  .cursor{
      cursor: pointer;
  }
  .container .cancel{
    float: left;
    margin-top:30px;
    margin-left: 400px;
    width: 90px;
    background-color:rgb(224, 74, 14);
    color: white;
  }
  .confirm{
    background-color:rgb(230, 174, 22);
  }